<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Run-a-log</title>
  </head>
  <style type="text/css">
     div.left{float:left;width:50%;padding:10px;}
     div.right{float:right; padding:10px;}
     img{padding: 5px;}
     td.label{font-weight: bold;}
     td.value{text-align: left;}
    </style>
  <body>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= Sinatra::Application.google_maps_key %>&amp;sensor=true"
          type="text/javascript"></script>

  <body onload="initialize()" onunload="GUnload()">

<div class="left">

    <a href="/">&lt;-- back</a><br/>

    <h4>Filename: <%= @my_item.filename %></h4>


    <table>
      <tr>
         <td class="label">Start:</td>
         <td class="value"><%= @my_item.start.strftime("%d.%m.%Y - %H:%M") %></td>
         
         <td class="label">Distance:</td>
         <td class="value"> <%= @my_item.distance.to_s %>m</td>

       </tr>
       <tr>
         <td class="label">End:</td>
         <td class="value"><%= @my_item.end.strftime("%d.%m.%Y - %H:%M") %></td>
         <td class="label">Avg Speed</td>
         <td class="value"><%= @my_item.speed_avg.to_s %> km/h</td>
       </tr>
       <tr>
         <td class="label">Duration:</td>
         <td class="value"><%= Integer((@my_item.duration / 60)).to_s %> min</td>
         <td class="label">Max Speed</td>
         <td class="value"><%= (@my_item.speed_max).to_s %> km/h</td>
       </tr>
       <tr><td></td></tr>
       <% if @container.heartrates? then %>
        <tr>
          <td class="label">Min HR: </td>
           <td class="value"><%= (@container.get_hr_min).to_s %> bpm</td>
          </tr><tr>
          <td class="label">Max HR: </td>
           <td class="value"><%= (@container.get_hr_max).to_s %> bpm</td>
          </tr><tr>
          <td class="label">Avg HR: </td>
           <td class="value"><%= (sprintf "%.2f", @container.get_hr_avg).to_s %> bpm</td>
          </tr>
        <% end %>

       </table>

      <p>
        Minimum Elevation: <%= (@container.get_altitude_min).to_s %> m
        <br />
        Maximum Elevation: <%= (@container.get_altitude_max).to_s %> m (-&gt; Difference: <%= Integer(@container.get_altitude_max - @container.get_altitude_min).to_s %>m)
      </p><p>
        
      </p>

    <div id="map_canvas" style="width: 700px; height: 500px"></div>

    <script type="text/javascript">

      function initialize() {
        if (GBrowserIsCompatible()) {
          var map = new GMap2(document.getElementById("map_canvas"));

          // Set up the Boundries of what we want to view
          var bounds = new GLatLngBounds;


<%# I don't really know if that's ok... but so far, it works... %>
      // SW Corner
      bounds.extend(new GLatLng( <%= @latlon.min.join(", ") %>));
      // NE Corner
      bounds.extend(new GLatLng( <%= @latlon.max.join(", ") %>));
      map.setCenter(bounds.getCenter(), map.getBoundsZoomLevel(bounds));

      // Add our controls and map views
      map.addControl(new GLargeMapControl());
      map.addControl(new GScaleControl());
      map.addControl(new GMapTypeControl());
      map.addMapType(G_PHYSICAL_MAP);
      //map.setMapType(G_PHYSICAL_MAP);
      map.setMapType(G_NORMAL_MAP);

      var myLine = new GPolyline.fromEncoded({
        color: "#0000ff",
        weight: 4,
        opacity: 0.8,
        zoomFactor: <%=@polyline[:zoomFactor] %>,
        numLevels: <%=@polyline[:numLevels] %>,
        points: "<%=@polyline[:points] %>",
        levels: "<%=@polyline[:levels] %>"
      });



      map.addOverlay(myLine);

<%# doesn't work so far
// Add Starting and Ending Markers
var pt_start = myLine.getVertex(0);
map.addOverlay(new createMarker(pt_start,"green","S"));
var pt_end = myLine.getVertex(myLine.getVertexCount()-5);
map.addOverlay(new createMarker(pt_end,"red","E"));

%>
    }
  }

    </script>
</div>
<div class="right">
    <img src="<%=@my_speed_url%>" alt="speed graph"/><br/>
    <img src="<%=@my_altitude_url%>" alt="altitude graph"/><br />
<% if @container.heartrates? then %>
    <img src="<%=@my_hr_url%>" alt="heartrate graph"/><br />
  <% end %>
    <!--<img src="<%=@my_combined_url%>" alt="all graph"/>  <br />-->

</div>
  </body>
</html>
