<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>Running log</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="/style.css" />
<!-- localhost
<script src="http://maps.google.com/maps?file=api&v=1&key=ABQIAAAAnfs7bKE82qgb3Zc2YyS-oBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSySz_REpPq-4WZA27OwgbtyR3VcA" type="text/javascript"></script>
-->
<script src="http://maps.google.com/maps?file=api&v=1&key=<%= @google_maps_key  %>" type="text/javascript"></script>


<script type="text/javascript">

      function initialize() {
        if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
	var center = new GLatLng(<%= @file_data.startingpoint.join(", ") %>);
	map.setCenter(center, 13);
        map.setUIToDefault();
        <%= @file_data.polyline %>
        map.addOverlay(myLine);}}
</script>
	</head>
<body>

<div id="container">
	<div id="header"></div>
	<div id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<% @dir_list.each do |f| %>
				<li><a href="/category/<%= f %>"><%= f %></a></li>
			<% end %>
		</ul>
	</div>
	<body onload="initialize()" onunload="GUnload()">
	<div id="content">
	<br/>
	<h2>Details:</h2>
	<table id="tracktable" border="0">
	<tr><td>Filename: <%= @file_data.filename %></td></tr>
	<tr><td>Time start: <%= @file_data.time_start %></td></tr>
	<tr><td>Time end: <%= @file_data.time_end %></td></tr>
	<tr><td>Duration: <%= (@file_data.duration / 60).floor %> min</td></tr>
	<tr><td>Distance: <%= @file_data.distance %> m</td></tr>
	<tr><td>Elevation_min: <%= @file_data.elevation_min.to_i %> m</td></tr>
	<tr><td>Elevation_max: <%= @file_data.elevation_max.to_i %> m</td></tr>
	<tr><td>Average Speed: <%= @file_data.speed_avg.to_s[/\d*\.\d{2}/] %> km/h</td></tr>
	<tr><td align="center"><div id="map_canvas" style="width: 640px; height: 480px"></td></tr>
	</table>


</div>
</body>
</html>
